<header class="header">
  <nav class="nav-container">
    <div class="logo">
      <a routerLink="/" class="logo-link">Alpha DKLG</a>
    </div>
    <ul class="nav-links">
      <li><a routerLink="/about" routerLinkActive="active">À propos</a></li>
      <li><a routerLink="/formation" routerLinkActive="active">Formation</a></li>
      <li><a routerLink="/experiences" routerLinkActive="active">Expériences</a></li>
      <li><a routerLink="/projects" routerLinkActive="active">Projets</a></li>
      <li><a routerLink="/competences" routerLinkActive="active">Compétences</a></li>
      <li><a routerLink="/associations" routerLinkActive="active">Associations</a></li>
      <li><a routerLink="/interests" routerLinkActive="active">Centres d'intérêt</a></li>
      <li><a routerLink="/languages" routerLinkActive="active">Langues</a></li>
      <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
    </ul>
  </nav>
</header> 