# Dependencies
node_modules
npm-debug.log

# Build files
dist
.angular
*.js.map

# Environment files
.env
.env.*
environment.*.ts
!environment.ts

# IDE files
.idea
.vscode
*.sublime-workspace
*.sublime-project

# System Files
.DS_Store
Thumbs.db
~BROMIUM/
**/~BROMIUM/

# Test files
/coverage
*.spec.ts
/e2e/*.js
/e2e/*.map

# Temporary files
*.tmp
*.temp
*.swp 